doctype html
html(lang="en", class="no-js")
	head
		title= "SS Test Pasco"
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="assets/css/app.css", type="text/css")
		link(rel="stylesheet", href="assets/fonts/FontAwesome/font-awesome.min.css", type="text/css")
		link(rel="stylesheet", href="plugins/jquery.bxslider/jquery.bxslider.css", type="text/css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons", type="text/css")
		link(rel="stylesheet", href="plugins/slick.carousel/slick/slick.css", type="text/css")
		link(rel="stylesheet", href="plugins/slick.carousel/slick/slick-theme.css", type="text/css")
		link(rel="stylesheet", href="assets/css/custom.css", type="text/css")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/foundation-sites/dist/js/foundation.min.js")
		script(src="bower_components/foundation-sites/dist/js/plugins/foundation.util.keyboard.min.js")
		script(src="bower_components/foundation-sites/dist/js/plugins/foundation.util.box.min.js")
		script(src="bower_components/foundation-sites/dist/js/plugins/foundation.util.triggers.min.js")
		script(src="bower_components/foundation-sites/dist/js/plugins/foundation.dropdown.min.js")
		script(src="plugins/jquery.bxslider/jquery.bxslider.min.js")
		script(src="plugins/slick.carousel/slick/slick.min.js")
		script(src="assets/js/app.js")
	body
		include mixins/allmixins
		div.header
			div.topmenu
				div.topmenu-content.row
					div.lagre-12.medium-12.columns.collapse
						div.socialIcons
							- var socialicons = ['fa-facebook', 'fa-twitter', 'fa-pinterest-p', 'fa-vk', 'fa-google-plus', 'fa-behance', 'fa-dribbble', 'fa-instagram'];
							for icon in socialicons
								a(href='#')
									i(class='fa ' + icon, aria-hidden='true')
						ul.dropdown.menu.float-right(data-dropdown-menu)
							li
								a(href='#')
									div(class='fa fa-globe', aria-hidden='true')
									span Eng
									i(class='fa fa-angle-down', aria-hidden='true')
									ul.menu
										li
											a(href='#') Eng
										li
											a(href='#') Rus
						div.separator.float-right
						a.signin.float-right(href='#')
							div(class='fa fa-user-circle', aria-hidden='true')
							span Sign In
			div.main-menu-mobile.hidden
				div.row
					a.float-left(href='#')
						i.material-icons menu
					a(href='#')
						span Pasco
					a.float-right(href='#')
						i(class='fa fa-shopping-cart', aria-hidden='true')
			div.main-menu
				div.main-menu-content.row
					div.lagre-12.medium-12.columns.collapse
						a.logo(href='#') Pasco
						section.float-right
							ul.dropdown.menu.float-right(data-dropdown-menu)
								li.menu-item
									a(href='#')
										span Home
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Portfolio
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Blog
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Page
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Shop
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Components
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Features
										i(class='fa fa-angle-down', aria-hidden='true')
								li.actions
									a.float-right(href='#')
										i(class='fa fa-shopping-cart', aria-hidden='true')
									div.separator.float-right
									a.float-right(href='#')
										i(class='fa fa-heart-o', aria-hidden='true')
									div.separator.float-right
									a.float-right(href='#')
										i(class='fa fa-search', aria-hidden='true')
			ul.bxslider
				li
					img.slide(src='assets/img/header_bg.jpg')
					div.overlay
						div.slider-content.row
							div.large-2.medium-2.columms.float-left &nbsp;
							div.large-8.medium-8.columns
								div.content-inner
									h4 Inspiration
									h2 5 ways milllenials can start building their future today
									a.button.readmore(href='#') Read more
									a(href='#')
										img.center.avatar(src='assets/img/henry_little.png')
									a.avatar(href='#') Henry Little
									label.account-info April 28, 2016&nbsp;&nbsp;10:15
									a.account-info(href='#')
										i.fa.fa-comments(aria-hidden='hidden')
										span Comments (28)
									a.account-info(href='#')
										i.fa.fa-heart-o(aria-hidden='hidden')
										span Likes (07)
							div.large-2.medium-2.columns &nbsp;
				li
					img(src='assets/img/header_bg.jpg')
		div.main-content
			div.sort-bar-mobile.hidden
				div.row
					button.button.sortblog(type='button', data-toggle="drop1") Sort blog
					div#drop1.dropdown-pane(data-dropdown="", data-hover="true", data-hover-pane="true")
						ul
							li
								a(href='javascript:$("#drop1").foundation("close");') All
							li
								a(href='javascript:$("#drop1").foundation("close");') Photography
							li
								a(href='javascript:$("#drop1").foundation("close");') Lifestyle
							li
								a(href='javascript:$("#drop1").foundation("close");') Trip
							li
								a(href='javascript:$("#drop1").foundation("close");') Inspiration
			div.sort-bar
				div.row
					div.sort-bar-inner.large-12.medium-12.columms.collapse
						p Sort blog:
						a.button.sort-bar-button.active(href='#') All
						a.button.sort-bar-button(href='#') Photography
						a.button.sort-bar-button(href='#') Lifestyle
						a.button.sort-bar-button(href='#') Trip
						a.button.sort-bar-button(href='#') Inspiration
			div.main-content-sep
			div.row.posts-list.transparent
				div.large-9.medium-9.columms.collapse.float-left.transparent
					div.padding-right-20
						+media-post({media: 'assets/img/main-video.png',fadeElipsis: false, fullwidth: true, category: 'Lifestyle', comments: 7, likes: 15,title: '10 Things To Do To Change Your Life Forever', description: 'The one constant thing in our life is change. We cannot avoid it and the more we resist change the tougher our life becomes. I know this because I was very skilled at deflecting change in life.', authorphoto: 'assets/img/henry_little_2.png', author: 'Henry Little', date: 'April 28, 2016&nbsp;&nbsp;10:15'})

						+media-post({media: 'assets/img/inspiration.png',fadeElipsis: false, fullwidth: false, category: 'Lifestyle', comments: 7, likes: 15,title: '4 Natural Ways To Have Young Skin', description: 'Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.', authorphoto: 'assets/img/james_leman.png', author: 'James Leman', date: 'April 28, 2016&nbsp;&nbsp;10:15'})

						+media-post({media: 'assets/img/inspiration2.png',noplay: true, fadeElipsis: false, fullwidth: false, category: 'Lifestyle', comments: 7, likes: 15,title: 'Six Hobbies That Can Help You Beat Stress', description: 'Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.', authorphoto: 'assets/img/james_leman_2.png', author: 'James Leman', date: 'April 28, 2016&nbsp;&nbsp;10:15'})

						+media-post({media: 'assets/img/inspiration3.png',noplay: true, fadeElipsis: false, fullwidth: false, category: 'Lifestyle', comments: 7, likes: 15,title: '10 Singals From Your Body Telling You Should Sleep More', description: 'Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.', authorphoto: 'assets/img/benjamin_miller.png', author: 'Benjamin Miller', date: 'April 28, 2016&nbsp;&nbsp;10:15'})

					div.row.nomargin
						div.large-4.medium-4.columms.float-left.padding-right-20
	
							+media-post({media: 'assets/img/inspiration4.png',fadeElipsis: true, fullwidth: true, category: 'Lifestyle', comments: 7, likes: 15,title: 'Food That Actually Taste Better When You Freeze', description: 'Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris.', authorphoto: 'assets/img/james_leman.png', author: 'James Leman', date: 'April 28, 2016&nbsp;&nbsp;10:15'})
	
						div.large-4.medium-4.columms.float-left.padding-right-20
	
							+media-post({media: 'assets/img/trip.png',noplay: true, fadeElipsis: true, fullwidth: true, category: 'Lifestyle', comments: 7, likes: 15,title: 'Why It’s Amazing To Date People Who Love Traveling', description: 'Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris.', authorphoto: 'assets/img/james_leman_2.png', author: 'Benjamin Miller', date: 'April 28, 2016&nbsp;&nbsp;10:15'})

						div.large-4.medium-4.columms.float-left.padding-right-20
	
							+media-post({media: 'assets/img/lifestyle.png',noplay: true, fadeElipsis: true, fullwidth: true, category: 'Lifestyle', comments: 7, likes: 15,title: '5 Useful Tips for Novice Painters', description: 'Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris.', authorphoto: 'assets/img/henry_little_2.png', author: 'Henry Little', date: 'April 28, 2016&nbsp;&nbsp;10:15'})
	
					div.row.nomargin
						div.large-6.medium-6.columms.float-left.padding-right-20
	
							+media-post({media: 'assets/img/lifestyle2.png',noplay: true, fadeElipsis: true, fullwidth: true, category: 'Lifestyle', comments: 7, likes: 15,title: '11 Fantastic Ways Passionate', description: 'Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris gravida, ipsu viverra urna at, dictume nunc fringilla quam.', authorphoto: 'assets/img/james_leman.png', author: 'James Leman', date: 'April 28, 2016&nbsp;&nbsp;10:15'})
	
						div.large-6.medium-6.columms.float-left.padding-right-20
	
							+media-post({media: 'assets/img/inspiration5.png',noplay: true, fadeElipsis: true, fullwidth: true, category: 'Lifestyle', comments: 7, likes: 15,title: 'Art Makes You Mentally Healthy', description: 'Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris gravida, ipsu viverra urna at, dictume nunc fringilla quam.', authorphoto: 'assets/img/james_leman_2.png', author: 'Benjamin Miller', date: 'April 28, 2016&nbsp;&nbsp;10:15'})
					div.row.nomargin
						div.large-12.medium-12.columms.padding-right-20
							div.float-right.morebtn
								a(href='#')
									span More&nbsp;&nbsp;
								a.button.more(href='#')
									i.material-icons arrow_forward
				div.large-3.medium-3.columms.collapse.float-left.transparent
					div.sidebar
						div.sidebar-inner
							div.about.hidden
								h4 Pasco
								p PASCO sit amet varius orci. Duis upse commodo elit sedamocid nisimole up stie, vitae fringilla justo fringilla. Lori Vestibulum libr portaman neque enia gravida elementum facilisis ipsum leonardo. Vestibulum loeuenim and libero, lobortis eu tortor ut, hendrerit  maxi tellus. Vivamus egestas massa leo, sit amet facilisis commodo.
								a.button.readmore(href='#') Read more
							div.search
								input(type=text, value='Search')
								a.button.search(href='#')
									i.material-icons search
							h4 Categories
							hr
							ul.categories
								li
									span.title Photography
									span.count 195
									div.clearfix
									hr
								li
									span.title Illustration
									span.count 15
									div.clearfix
									hr
								li
									span.title Graphic Design
									span.count 36
									div.clearfix
									hr
								li
									span.title Web Design
									span.count 220
									div.clearfix
									hr
								li
									span.title Videography
									span.count 17
									div.clearfix
							div.subscribe
								h4 Subscribe
								hr
								div.input
									p Name
									input(type=text, value='Igor Ten')
								div.input
									p Email
									input(type=text, value='email@address.com')
								a.button.subscribe(href='#') Subscribe
								table.orLine
									tr
										td(width='50%')
											hr
										td
											span &nbsp;or&nbsp;
										td(width='50%')
											hr
								div.sidebar-socials
									- var socialicons = ['fa-facebook', 'fa-twitter','fa-vk', 'fa-pinterest-p', 'fa-tumblr','fa-dribbble'];
									for icon in socialicons
										a.button(id=icon, href='#')
											i(class='fa ' + icon, aria-hidden='true')
							div.tab-posts
								h4 Tab Post Widget
								hr
								div.sidebar-toggle
									a.button.toggle.active(href='#') Recent Post
									a.button.toggle(href='#') Popular Post
								div.sidebar-posts
									+sidebar-post({media: 'assets/img/post1.png', fullwidth: false, comments: 17, title: 'Duis commodo elit sed nisi molestie', date: 'April 28, 2016'})
									hr
									+sidebar-post({media: 'assets/img/post2.png', fullwidth: false, comments: 17, title: 'Duis commodo elit sed nisi molestie', date: 'April 28, 2016'})
									hr
									+sidebar-post({media: 'assets/img/post3.png', fullwidth: false, comments: 17, title: 'Duis commodo elit sed nisi molestie', date: 'April 28, 2016'})
									hr
									+sidebar-post({media: 'assets/img/post4.png', fullwidth: false, comments: 17, title: 'Duis commodo elit sed nisi molestie', date: 'April 28, 2016'})
							h4 Tags
							hr
							div.tags
								- var tags = ['Photography', 'Webdesign','Youtube', 'Envato', 'Art','Themeforest','Illustration'];
								for tag in tags
									a.button.tag(href='#') #{tag}
							div.flickr.hidden
								h4 Flickr
								img.flickr(src='assets/img/flickr_placeholder.png')
		div.footer-mobile.hidden
			div.sidebar-socials
				- var socialicons = ['fa-facebook', 'fa-twitter','fa-vk', 'fa-pinterest-p', 'fa-tumblr','fa-dribbble'];
				for icon in socialicons
					a.button(id=icon, href='#')
						i(class='fa ' + icon, aria-hidden='true')
			p.copyright © 2016 PASCO | All Rights Reserved
		div.carousel
			section.variable-slider
				div
					img(src='assets/img/car1.png')
				div
					img(src='assets/img/car2.png')
				div
					img(src='assets/img/car3.png')
				div
					img(src='assets/img/car4.png')
				div
					img(src='assets/img/car5.png')
				div
					img(src='assets/img/car6.png')
				div
					img(src='assets/img/car7.png')
				div
					img(src='assets/img/car8.png')
		div.sbscrb-section
			div.row
				div.large-6.medium-6.columns.collapse
					span.nowrap Surscribe to our newsletter
				div.large-4.medium-4.columns.collapse
					div.sbscrb
						input(type=text, value='Email Address')
				div.large-2.medium-2.columns.collapse
					div.sbscrb
						a.button.sbscrb(href='#') Subscribe
		div.footer
			div.row
				div.large-3.medium-3.columms.float-left.padding-right-30
					h4 Pages Widget
					ul.accordion(data-accordion).transparent
						li.accordion-item(data-accordion-item)
							a.accordion-title(href='#') Home
							div.accordion-content(data-tab-content)
								a(href='#') Service
								br
								a(href='#') FAQ
								br
								a(href='#') About
						li.is-active.accordion-item(data-accordion-item)
							a.accordion-title(href='#') Pages
							div.accordion-content(data-tab-content)
								a(href='#') Service
								br
								a(href='#') FAQ
								br
								a(href='#') About
						li.accordion-item(data-accordion-item)
							a.accordion-title(href='#') Portfolio
							div.accordion-content(data-tab-content)
								a(href='#') Service
								br
								a(href='#') FAQ
								br
								a(href='#') About
						li.accordion-item(data-accordion-item)
							a.accordion-title(href='#') Blog
							div.accordion-content(data-tab-content)
								a(href='#') Service
								br
								a(href='#') FAQ
								br
								a(href='#') About
						li.accordion-item(data-accordion-item)
							a.accordion-title(href='#') Shop
							div.accordion-content(data-tab-content)
								a(href='#') Service
								br
								a(href='#') FAQ
								br
								a(href='#') About
				div.large-3.medium-3.columms.float-left.padding-right-30
					div
						h4 Twitter Widget
						+twitter-item()
						hr.gray
						+twitter-item()
						hr.gray
						+twitter-item()
						h4.inline Social Widget
						div.sidebar-socials
								- var socialicons = ['fa-facebook', 'fa-twitter','fa-vk', 'fa-pinterest-p', 'fa-tumblr','fa-dribbble'];
								for icon in socialicons
									a.button(id=icon, href='#')
										i(class='fa ' + icon, aria-hidden='true')
				div.large-3.medium-3.columms.float-left.padding-right-30
					h4 Flickr Widget
					img.flickr(src='assets/img/flickr_placeholder.png')
				div.large-3.medium-3.columms.float-left
					h4 News Letter
					form.subscribe(action='subscribe')
						div.input
							input(type=text, value='Name')
						div.input
							input(type=text, value='Email Address')
						div.input
							textarea(rows='4') Message
						a.button.subscribe(href='#') Subscribe
		div.bottom-menu
			div.row
				div.large-7.medium-7.columns.collapse
					div.main-menu
						div.main-menu-content.row.nomargin
							div.lagre-12.medium-12.columns.collapse
								section
									ul.dropdown.menu(data-dropdown-menu)
										li.menu-item
											a(href='#')
												span Home
										li.menu-item
											a(href='#')
												span Portfolio
										li.menu-item
											a(href='#')
												span Blog
										li.menu-item
											a(href='#')
												span Page
										li.menu-item
											a(href='#')
												span Shop
										li.menu-item
											a(href='#')
												span Components
										li.menu-item
											a(href='#')
												span Features
				div.large-5.medium-5.columns.collapse
					section.btm-lang.float-right
						ul.dropdown.menu.float-right(data-dropdown-menu)
							li
								a(href='#')
									div(class='fa fa-globe', aria-hidden='true')
									span Eng
									i(class='fa fa-angle-down', aria-hidden='true')
									ul.menu
										li
											a(href='#') Eng
										li
											a(href='#') Rus
						div.search.float-right
							input(type=text, value='Search')
							a.button.search(href='#')
								i.material-icons search